<h1>Company Overview</h1>

<h2 class="company-name-header" data-current-company-name="{{company.name}}">{{company.name}}</h2>

<h3>Company Details</h3>
<table class="table company-record-table table-hover">
  <tbody>
    <tr>
      <td class="company-record-title company-record-name">
        Name:
      </td>
      <td class="display-company-name">
        {{company.name}}
      </td>
    </tr>
    <tr>
      <td class="company-record-title company-record-location">
        Location:
      </td>
      <td class="display-company-location">
        {{company.location}}
      </td>
    </tr>
    <tr>
      <td class="company-record-title company-record-url">
        Website URL:
      </td>
      <td class="display-company-teacher">
        {{company.url}}
      </td>
    </tr>
    <tr>
      <td class="company-record-title company-record-note">
        Notes:
      </td>
      <td class="display-company-note">
        {{company.note}}
      </td>
    </tr>
  </tbody>
</table>

<div class="dashboard-company-btn-container">
  <div class="company-record-btn-options">
    <button id="company-record-btn-edit" type="button" class="btn btn-warning current" data-current-company-id="{{company.id}}">Edit Company Record</button>
    <button id="company-record-delete" type="button" class="btn btn-danger current" data-current-company-id="{{company.id}}">Delete Company Record</button>
  </div>
</div>

<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-job-btn-company" type="button" class="btn btn-success" data-current-company-id="{{company.id}}" data-type-company-page="{{company.company_page}}">Create Job</button>
</div>
