<h3>Linked Communications</h3>

<table class="table secondary-table table-hover">
  <thead>
    <tr>
      <th>Communication Method</th>
      <th>Communication Subject</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each communications as |communication|}}
      <tr>
        <td class="display-communication-full-name">
          {{communication.c_method}}
        </td>
        <td class="display-communication-full-name">
          {{communication.c_subject}}
        </td>
        <td class="display-communication-submit">
          <button type="button" class="btn btn-info btn-sm view-secondary-btn dashboard-communication-record-btn" data-current-communication-id="{{communication.id}}" data-current-job-id="{{communication.job_ref_id}}" data-current-job-text="{{communication.job_ref_text}}">View Communication</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br><br>
