<h3>Linked Documents</h3>

<table class="table secondary-table table-hover">
  <thead>
    <tr>
      <th>Document Type</th>
      <th>Document Subject</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each documents as |document|}}
      <tr>
        <td class="display-document-doctype">
          {{document.doctype}}
        </td>
        <td class="display-document-full-name">
          {{document.docsubject}}
        </td>
        <td class="display-document-submit">
          <button type="button" class="btn btn-info btn-sm view-secondary-btn dashboard-document-record-btn" data-current-document-id="{{document.id}}" data-current-job-id="{{document.job_ref_id}}" data-current-job-text="{{document.job_ref_text}}">View Document</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br><br>
