<h3>Incomplete Applications</h3>

<table class="table job-summary-table">
  <thead>
    <tr>
      <th>Company Name</th>
      <th class="hidden-xs hidden-sm">Job Title</th>
      <th class="hidden-xs hidden-sm">Applied?</th>
      <th>Job Priority</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each jobs as |job|}}
      <tr>
        <td class="display-company-name">
          {{job.company_name}}
        </td>
        <td class="display-job-title hidden-xs hidden-sm">
          {{job.title}}
        </td>
        <td class="hidden-xs hidden-sm">
          {{#if job.applied}}
            Yes
          {{else}}
            No
          {{/if}}
        </td>
        <td>
          {{job.priority_num}}
        </td>
        <td>
          <button type="button" class="btn btn-default btn-sm dashboard-job-record-btn" data-current-job-id="{{job.id}}">View</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
