<h3>Linked Reminders</h3>

<table class="table secondary-table table-hover">
  <thead>
    <tr>
      <th>Reminder Type</th>
      <th>Reminder Subject</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each reminders as |reminder|}}
      <tr>
        <td class="display-reminder-full-name">
          {{reminder.reminder_type}}
        </td>
        <td class="display-reminder-full-name">
          {{reminder.reminder_subject}}
        </td>
        <td class="display-reminder-submit">
          <button type="button" class="btn btn-info btn-sm view-secondary-btn view-reminder-record-btn" data-current-reminder-id="{{reminder.id}}" data-current-job-id="{{reminder.job_ref_id}}" data-current-job-text="{{reminder.job_ref_text}}">View Reminder</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
