<div id="job-select-options">
  <label>Job Title Selection:</label>
  <select id="select-option-job-title" class="form-control">
      <option class="form-control blank-option" placeholder="Blank" type="text" value="0"></option>
      {{#each jobs as |job|}}
        <option class="form-control option-job-name" name="reminder[job_title]" placeholder="reminder Type" type="text" data-job-id="{{job.id}}" data-job-name="{{job.title}}" value="{{job.id}}">{{job.title}}</option>
        <!-- <option hidden class="form-control required-field" name="reminder[job_ref_id]" placeholder="reminder Type" type="text" value="{{job.id}}" data-reminder-job-name="{{job.name}}">{{job.name}}</option> -->
      {{/each}}
  </select>
</div>
