<h1>Reminder Dashboard</h1>

<input type="text" id="search-reminder-input" placeholder="Search Company Name..." title="Type in a name">
<br><br>

<table id="reminder-summary-table" class="table reminder-summary-table table-hover bootstrap-table">
  <thead>
    <tr>
      <th data-field="reminder" data-sortable="true">
        <div class="th-inner sortable both desc">Reminder Type</div>
      </th>
      <th data-field="name" data-sortable="true">
        <div class="">Company Name</div>
      </th>
      <th data-field="subject" data-sortable="true">
        <div class="">Reminder Subject</div>
      </th>
      <th data-field="date" data-sortable="true" data-sort-name="_date_data" data-sorter="monthSorter">
        <div class="">Notification Date</div>
      </th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each reminders as |reminder|}}
      <tr>
        <td class="display-reminder-name">
          {{reminder.reminder_type}}
        </td>
        <td class="display-company-name">
            {{reminder.company_name}}
        </td>
        <td class="display-reminder-location">
          {{reminder.reminder_subject}}
        </td>
        <td class="display-reminder-url">
          {{reminder.reminder_date}}
        </td>
        <td class="display-reminder-submit">
          <button type="button" class="btn btn-info btn-sm view-reminder-record-btn" data-current-reminder-id="{{reminder.id}}" data-current-company-id="{{reminder.company_ref_id}}" data-current-job-id="{{reminder.job_ref_id}}" data-contact-id="{{reminder.contact_ref_id}}">View reminder</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br><br>
<div class="create-reminder-container">
  <button id="job-reminder-create" type="button" class="btn btn-success" data-current-company-id="{{insert}}">Create Reminder</button>
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="generate-create-document-btn" type="button" class="btn btn-success">Create Document</button>
  <button id="get-documents-btn" type="button" class="btn btn-success">View Documents</button>
  <button id="generate-create-contact-btn" type="button" class="btn btn-success">Create Contact</button>
  <button id="get-contacts-btn" type="button" class="btn btn-success">View Contacts</button>
  <button id="generate-create-communication-btn" type="button" class="btn btn-danger">Create Communication</button>
</div>
