<h1>Reminder Dashboard</h1>

<table id="reminder-summary-table" class="table reminder-summary-table table-hover" data-toggle="table">
  <thead>
    <tr>
      <th>Reminder Type</th>
      <th>Company Name</th>
      <th>Reminder Subject</th>
      <th>Notification Date</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each reminders as |reminder|}}
      {{#if reminder.show_data}}
      <tr data-index="{{reminder.id}}">
        <td class="display-reminder-name">
            {{reminder.reminder_type}}
        </td>
        <td class="display-company-name">
          {{reminder.company_name}}
        </td>
        <td class="display-reminder-location">
          {{reminder.reminder_subject}}
        </td>
        <td class="display-reminder-url">
          {{reminder.reminder_date}}
        </td>
        <td class="display-reminder-submit">
          <button type="button" class="btn btn-info btn-sm reminder-record-btn" data-current-reminder-id="{{reminder.id}}" data-current-company-id="{{reminder.company_ref_id}}" data-current-job-id="{{reminder.job_ref_id}}">View reminder</button>
        </td>
      </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
<br><br>
<div class="create-reminder-container">
  <button id="job-reminder-create" type="button" class="btn btn-success" data-current-company-id="{{insert}}">Create Reminder</button>
</div>
