<h1>Secondary Table Contact</h1>

<table class="table secondary-table table-hover">
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each reminders as |reminder|}}
      <tr>
        <td class="display-reminder-full-name">
          {{reminder.contact_ref_name}}
        </td>
        <td class="display-reminder-submit">
          <button type="button" class="btn btn-info btn-sm view-secondary-btn" data-secondary-data-contact-category="{{reminder.contact_ref_id}}" data-current-reminder-id="{{reminder.id}}" data-current-company-id="{{reminder.company_ref_id}}" data-current-job-id="{{reminder.job_ref_id}}" data-current-document-id="{{reminder.document_ref_id}}">View Reminder</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
</div>
