<h1>Reminder</h1>

<h2 class="reminder-name-header" data-current-reminder-name="{{reminder.name}}">{{reminder.name}}</h2>

<h3>Reminder Details</h3>
<table class="table reminder-record-table table-hover">
  <tbody>
    <tr>
      <td class="reminder-record-title reminder-reminder-type">
        Reminder Type:
      </td>
      <td class="display-reminder-type">
        {{reminder.reminder_type}}
      </td>
    </tr>
    <tr>
      <td class="reminder-record-title reminder-record-location">
        Reminder Subject:
      </td>
      <td class="display-reminder-subject">
        {{reminder.reminder_subject}}
      </td>
    </tr>
    <tr>
      <td class="reminder-record-title reminder-details">
        Reminder Details:
      </td>
      <td class="display-reminder-teacher">
        {{reminder.reminder_details}}
      </td>
    </tr>
    <tr>
      <td class="reminder-record-title reminder-record-note">
        Reminder Notification Date:
      </td>
      <td class="display-reminder-note">
        {{reminder.reminder_date}}
      </td>
    </tr>
    <tr>
      <td class="reminder-record-title reminder-archive">
        Archived:
      </td>
      <td class="display-reminder-note">
        {{reminder.archive}}
      </td>
    </tr>
  </tbody>
</table>

<div class="dashboard-reminder-btn-container">
  <div class="reminder-record-btn-options">
    <button id="reminder-record-btn-edit" type="button" class="btn btn-warning current" data-current-reminder-id="{{reminder.id}}">Edit Reminder Record</button>
    <button id="reminder-record-delete" type="button" class="btn btn-danger current" data-current-reminder-id="{{reminder.id}}">Delete Reminder Record</button>
  </div>
</div>

<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary dashboard-home-btn-reminder-page">View Dashboard</button>
  <button id="dashboard-new-job-btn-reminder" type="button" class="btn btn-success dashboard-home-btn-reminder-page" data-current-reminder-id="{{reminder.id}}" data-type-reminder-page="{{reminder.reminder_page}}">Create Job</button>
</div>
