<h1>Reminder</h1>

<h2 class="status-name-header" data-current-status-name="{{status.name}}">{{status.name}}</h2>

<h3>Reminder Details</h3>
<table class="table status-record-table table-hover">
  <tbody>
    <tr>
      <td class="status-record-title status-status-type">
        Reminder Type:
      </td>
      <td class="display-status-type">
        {{status.status_type}}
      </td>
    </tr>
    <tr>
      <td class="status-record-title status-record-location">
        Reminder Subject:
      </td>
      <td class="display-status-subject">
        {{status.subject}}
      </td>
    </tr>
    <tr>
      <td class="status-record-title status-details">
        Reminder Details:
      </td>
      <td class="display-status-teacher">
        {{status.details}}
      </td>
    </tr>
    <tr>
      <td class="status-record-title status-record-note">
        Reminder Notification Date:
      </td>
      <td class="display-status-note">
        {{status.due_date}}
      </td>
    </tr>
    <tr>
      <td class="status-record-title status-archive">
        Archived:
      </td>
      <td class="display-status-note">
        {{status.archive}}
      </td>
    </tr>
  </tbody>
</table>

<div class="dashboard-status-btn-container">
  <div class="status-record-btn-options">
    <button id="status-record-btn-edit" type="button" class="btn btn-warning current" data-current-reminder-id="{{status.id}}">Edit Status Record</button>
    <button id="status-record-delete" type="button" class="btn btn-danger current" data-current-reminder-id="{{status.id}}">Delete Status Record</button>
  </div>
</div>

<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary dashboard-home-btn-status-page">View Dashboard</button>
  <button id="dashboard-new-job-btn-status" type="button" class="btn btn-success dashboard-home-btn-status-page" data-current-reminder-id="{{status.id}}" data-type-status-page="{{status.status_page}}">Create Job</button>
</div>
