<div class="update-reminder-form-container form-container reminder-page group-category">
  <form class="form reminder-form reminder-form" id="update-reminder-form" name="update-reminder-form" data-update-form="1">
    <fieldset>
      <legend>Update Reminder Form</legend>
      <p id="update-reminder-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>

      <div class="form-group">
        <label>Reminder Type (required)</label>
        <select class="form-control" id="reminder-type-select" data-reminder-type="{{reminder.reminder_type}}" data-default-value="{{reminder.reminder_type}}" value="{{reminder.reminder_type}}">
      <option class="form-control required-field option-one" name="reminder[reminder_type]" placeholder="reminder Type" type="text" value="Action">Action</option>
      <option class="form-control required-field option-two" name="reminder[reminder_type]" placeholder="reminder Type" type="text" value="Pending">Pending</option>
  </select>
      </div>

      <div class="form-group">
        <label>Reminder Notification Date</label>
        <input class="form-control field-input" name="reminder[reminder_date]" placeholder="Date" type="date" value="{{reminder.reminder_date}}">
      </div>

      <div class="form-group">
        <label>Reminder Subject</label>
        <input class="form-control text-input required-field" name="reminder[reminder_subject]" placeholder="Subject" type="text" value="{{reminder.reminder_subject}}">
      </div>

      <div class="form-group">
        <label>Reminder Details</label>
        <textarea id="reminder-details-field" class="form-control text-input field-input reminder-details" name="reminder[reminder_details]" type="text" placeholder="Action Details">{{reminder.reminder_details}}</textarea>
      </div>

      <div class="form-group job-radio-container current-value-update-page">
        <label>Current Company Association:</label>
        <div class="update-radio-link-value-status-container">
          <p>The company currently associated with this reminder is: <span class="job-update-radio-text">{{reminder.job_ref_text}}</span></p>
          <p>Link Status: <span class="job-tag-status" data-current-ref-id="{{reminder.job_ref_id}}">Not Linked</span></p>
        </div>
      </div>

      <div>
        <div class="job-update-link-container form-group">
          <label>Would you like to update the reminder's company?</label>
          <div class="form-group">
            <span>Check Box for Yes</span>
            <input id="job-update-link" type="checkbox" value="">
          </div>
        </div>
        <div class="form-group job-radio-container update-radio-container-btn">
          <label>Will this updated company be tagged to the reminder?</label>
          <label><input id="job-radio-yes" class="job-category" type="radio" name="job-radio" value="1">Yes</label>
          <label><input id="job-radio-no" class="job-category" type="radio" name="job-radio" value="0">No</label>
        </div>
      </div>

      <div class="form-group display-alt-job"></div>
      <div class="form-group display-dropdown-job"></div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="submit-reminder-update-btn" type="submit" value="Submit" data-current-ref-id="{{reminder.job_ref_id}}" data-current-ref-text="{{reminder.job_ref_text}}">
      </div>
    </fieldset>
  </form>
</div>
