<div class="update-reminder-form-container form-container">
<form class="form reminder-form" id="update-reminder-form" name="update-reminder-form" data-update-form="1">
  <fieldset>
    <legend>Update Action Form</legend>
    <p id="update-reminder-error" class="warning form-error"></p>
    <p>All fields are <u>optional</u> unless otherwise indicated</p>

    <div class="form-group">
      <label>Reminder Type (required)</label>
      <select class="form-control" id="reminder-type-select" data-reminder-type="{{reminder.reminder_type}}">
          <option class="form-control required-field option-one" name="reminder[reminder_type]" placeholder="reminder Type" type="text" value="Action">{{reminder.reminder_type}}</option>
          <option class="form-control required-field option-two" name="reminder[reminder_type]" placeholder="reminder Type" type="text" value="Pending">{{reminder.reminder_type}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Reminder Notification Date</label>
      <input class="form-control field-input" name="reminder[reminder_date]" placeholder="Date" type="date" value="{{reminder.reminder_date}}">
    </div>

    <div class="form-group">
      <label>Action Subject</label>
      <input class="form-control required-field" name="reminder[reminder_subject]" placeholder="Subject" type="text" value="{{reminder.reminder_subject}}">
    </div>

    <div class="form-group">
      <label>Action Details</label>
      <textarea class="form-control field-input reminder-details" name="reminder[reminder_details]" type="text" placeholder="Action Details">{{reminder.reminder_details}}</textarea>
    </div>

    <div id="associate-with-job-company" class="form-group">
      <label>Associate Reminder With Company?</label>
      <div class="form-group associate-reminder-with-company-container">
        <span>Check Box for Yes</span>
          <input id="associate-reminder-with-company" type="checkbox" value="" data-current-company-id="{{reminder.company_ref_id}}" data-current-job-id="{{reminder.job_ref_id}}">
      </div>
    </div>

    <!-- <div class="form-group">
      <label>Associate Reminder With Company?</label>
      <div class="form-group associate-reminder-with-company-container" data-current-company-name="{{reminder.company_name}}" data-current-company-id="{{reminder.company_ref_id}}" data-current-job-id="{{reminder.job_ref_id}}" data-current-job-title="{{reminder.job_title}}">
        <span>Check Box for Yes</span>
          <input id="associate-reminder-with-company" type="checkbox" value="" data-current-company-name="{{reminder.company_name}}" data-current-company-id="{{reminder.company_ref_id}}" data-current-job-id="{{reminder.job_ref_id}}" data-current-job-title="{{reminder.job_title}}">
      </div>
    </div> -->

    <div class="form-group display-company-names"></div>
    <div class="form-group display-job-title"></div>

    <div class="form-group">
      <label>Archive</label>
      <input name="reminder[due_date]" type="hidden" value="false">
      <input name="reminder[due_date]" class="form-control field-checkbox" type="checkbox" value="true">
    </div>

    <div class="form-group">
      <input class="btn btn-success submit-btn current" name="submit" id="submit-reminder-update-btn" type="submit" value="Submit">
    </div>
  </fieldset>
</form>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create Session</button>
</div>
</div>
