<div class="update-reminder-form-container form-container">
  <form class="form reminder-form reminder-form general-form-class" id="update-reminder-form" name="update-reminder-form" data-update-form="1">
    <fieldset>
      <legend>Update Reminder Form</legend>
      <p id="update-reminder-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>


      <div class="form-group">
        <label>Reminder Type (required)</label>
        <select class="form-control" id="reminder-type-select" data-reminder-type="{{reminder.reminder_type}}" data-default-value="{{reminder.reminder_type}}" value="{{reminder.reminder_type}}">
      <option class="form-control required-field option-one" name="reminder[reminder_type]" placeholder="reminder Type" type="text" value="Action">Action</option>
      <option class="form-control required-field option-two" name="reminder[reminder_type]" placeholder="reminder Type" type="text" value="Pending">Pending</option>
  </select>
      </div>

      <div class="form-group">
        <label>Reminder Notification Date</label>
        <input class="form-control field-input" name="reminder[reminder_date]" placeholder="Date" type="date" value="{{reminder.reminder_date}}">
      </div>

      <div class="form-group">
        <label>Reminder Subject</label>
        <input class="form-control required-field" name="reminder[reminder_subject]" placeholder="Subject" type="text" value="{{reminder.reminder_subject}}">
      </div>

      <div class="form-group">
        <label>Action Details</label>
        <textarea class="form-control field-input reminder-details" name="reminder[reminder_details]" type="text" placeholder="Action Details">{{reminder.reminder_details}}</textarea>
      </div>

      <div class="form-group">
        <label>Tag this reminder to an existing contact?</label>
        <div class="form-group tag-contact-to-reminder-container">
          <span>Check Box for Yes</span>
          <input id="tag-contact-to-reminder" class="contact-category" type="checkbox" value="{{reminder.contact_ref_id}}" data-update-category-id="{{reminder.contact_ref_id}}">
        </div>
      </div>

      <div class="form-group display-contacts-dropdown"></div>

      <div class="form-group job-tag-update">
        <label>Update the job tag?</label>
        <div class="update-current-tag">
          <span id="job-tag-desc" class="tag-desc">No job is associated with this reminder</span><span class="insert-tag-value" id="insert-tag-job-category" data-update-id="{{reminder.job_ref_id}}" data-update-name="{{reminder.job_name}}"></span>
        </div>
        <div class="form-group tag-job-to-reminder-container">
          <span>Check Box for Yes</span>
          <input id="tag-job-to-reminder" class="job-category" type="checkbox" value="{{reminder.job_ref_id}}" data-update-category-id="{{reminder.job_ref_id}}">
        </div>
      </div>

      <div class="form-group display-jobs-dropdown"></div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="submit-reminder-update-btn" data-update-category-id="{{reminder.id}}" type="submit" value="Submit">
      </div>
    </fieldset>
  </form>
  <br><br>
  <div class="dashboard-container">
    <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
    <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create Session</button>
  </div>
</div>
