<div class="contact-page group-category">
<h3>Recently Added Contacts</h3>

<table class="table contact-summary-table table-hover">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Company Name</th>
      <th>Contact Email</th>
      <th>Contact Phone</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each contacts as |contact|}}
      <tr>
        <td class="display-contact-full-name">
          {{contact.full_name}}
        </td>
        <td class="display-contact-company-name">
          {{contact.job_ref_text}}
        </td>
        <td class="display-contact-email">
          {{contact.email}}
        </td>
        <td class="display-contact-phone">
          {{contact.phone}}
        </td>
        <td class="display-contact-submit">
          <button type="button" class="btn btn-info btn-sm dashboard-contact-record-btn" data-current-contact-id ="{{contact.id}}" data-current-job-ref-id="{{contact.job_ref_id}}" data-current-job-ref-text="{{contact.job_ref_text}}">View Contact</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-new-contact-btn" type="button" class="btn btn-success">Create Contact</button>
</div>
</div>
