<!-- <div class="navbar navbar-inverse navbar-fixed-left">

  <ul class="nav navbar-nav">
   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="https://www.test.com">Job</a></li>
      <li><a href="#">Reminder</a></li>
      <li><a href="#">Document</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Communication</a></li>
      <li class="divider"></li>
      <li><a href="#">Sub Menu4</a></li>
      <li><a href="#">Sub Menu5</a></li>
     </ul>
   </li>
   <li><a href="#">Dashboard</a></li>
   <li><a href="#">Jobs</a></li>
   <li><a href="#">Reminders</a></li>
   <li><a href="#">Documents</a></li>
   <li><a href="#">Contacts</a></li>
   <li><a href="#">Communications</a></li>
  </ul>
</div> -->

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h1>Reminders</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="dash-home-table">
        <h2>Upcoming</h3>
        <table id="reminder-summary-table" class="table reminder-summary-table table-hover">
          <thead>
            <tr>
              <th class="hidden-xs">Notification Date</th>
              <th class="hidden-md hidden-sm hidden-xs">Company Name</th>
              <th>Reminder Subject</th>
              <th>View Record</th>
            </tr>
          </thead>
          <tbody>
            {{#each reminders as |reminder|}}
              <tr>
                <td class="hidden-xs display-reminder-url">
                  {{reminder.reminder_date}}
                </td>
                <td class="hidden-md hidden-sm hidden-xs display-company-name get-reminders-job-ref-text">
                  {{reminder.job_ref_text}}
                </td>
                <td class="display-reminder-location">
                  {{reminder.reminder_subject}}
                </td>
                <td class="display-reminder-submit">
                  <button type="button" class="btn btn-default btn-sm view-reminder-record-btn" data-current-reminder-id="{{reminder.id}}" data-contact-id="{{reminder.contact_ref_id}}">View Record</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="reminder-dash-table-empty"></p>
        <div class="home-dashboard-container">
          <button id="generate-create-reminder-btn" type="button" class="btn btn-success">Create</button>
          <button type="button" class="btn btn-info get-reminders">View All</button>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="dash-home-table">
        <h2>Overdue Reminders</h3>
        <table id="overdue-reminder-summary-table" class="table reminder-summary-table table-hover">
          <thead>
            <tr>
              <th class="hidden-xs">Notification Date</th>
              <th class="hidden-md hidden-sm hidden-xs">Company Name</th>
              <th>Reminder Subject</th>
              <th>View Record</th>
            </tr>
          </thead>
          <tbody>
            {{#each overdues as |overdue|}}
              <tr>
                <td class="hidden-xs">
                  {{overdue.reminder_date}}
                </td>
                <td class="hidden-md hidden-sm hidden-xs display-company-name get-reminders-job-ref-text">
                  {{overdue.job_ref_text}}
                </td>
                <td class="display-reminder-location">
                  {{overdue.reminder_subject}}
                </td>
                <td class="display-reminder-submit">
                  <button type="button" class="btn btn-default btn-sm view-reminder-record-btn" data-current-reminder-id="{{overdue.id}}" data-contact-id="{{overdue.contact_ref_id}}">View Record</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="reminder-dash-table-empty-overdue"></p>
        <div class="home-dashboard-container">
          <button id="generate-create-reminder-overdue-btn" type="button" class="btn btn-success">Create</button>
          <button type="button" class="btn btn-info get-reminders">View All</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-xs-2">
      <div class="dash-home-table">

        <h2>Approaching Job Deadlines</h3>

        <table class="table job-summary-table table-hover">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>View Record</th>
            </tr>
          </thead>
          <tbody>
            {{#each jobs as |job|}}
              <tr>
                <td class="display-company-name">
                  {{job.company_name}}
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm dashboard-job-record-btn" data-current-job-id="{{job.id}}">View Record</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="job-dash-table-empty"></p>
        <div class="home-dashboard-container">
          <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create</button>
          <button type="button" class="btn btn-info get-jobs">View All</button>
        </div>

      </div>
    </div> -->

  <div class="row">
    <div class="col-xs-12">
      <h1>Recently Created</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="communication-page group-category dash-home-table">
        <h2>Jobs</h3>
        <table class="table job-summary-table">
          <thead>
            <tr>
              <th>Company Name</th>
              <th class="hidden-xs">Job Title</th>
              <th class="hidden-xs">Job Deadline</th>
              <th>View Record</th>
            </tr>
          </thead>
          <tbody>
            {{#each jobs as |job|}}
              <tr>
                <td class="display-company-name">
                  {{job.company_name}}
                </td>
                <td class="display-job-title hidden-xs">
                  {{job.title}}
                </td>
                <td class="display-job-deadline hidden-xs">
                  {{job.deadline}}
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm dashboard-job-record-btn" data-current-job-id="{{job.id}}">View Record</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="job-dash-recent-table-empty"></p>
        <div class="home-dashboard-container">
          <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create</button>
          <button type="button" class="btn btn-info get-jobs">View All</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="communication-page group-category dash-home-table">
        <h2>Documents</h3>
          <table class="table document-summary-table table-hover">
            <thead>
              <tr>
                <th class="hidden-xs">Document Type</th>
                <th>Document Subject</th>
                <th>View Record</th>
              </tr>
            </thead>
            <tbody>
              {{#each documents as |document|}}
                <tr>
                  <td class="display-document-type hidden-xs">
                    {{document.doctype}}
                  </td>
                  <td class="display-document-subject">
                    {{document.docsubject}}
                  </td>
                  <td class="display-document-submit">
                    <button type="button" class="btn btn-default btn-sm dashboard-document-record-btn" data-current-document-id="{{document.id}}">View Record</button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        <p class="document-dash-table-empty"></p>
        <div class="home-dashboard-container">
          <button id="dashboard-new-document-btn" type="button" class="btn btn-success">Create</button>
          <button type="button" class="btn btn-info get-documents">View All</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6">
      <div class="contact-page group-category dash-home-table">

        <h2>Contacts</h3>

        <table class="table contact-summary-table table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>View Record</th>
            </tr>
          </thead>
          <tbody>
            {{#each contacts as |contact|}}
              <tr>
                <td class="display-contact-full-name">
                  {{contact.full_name}}
                </td>
                <td class="display-contact-submit">
                  <button type="button" class="btn btn-default btn-sm dashboard-contact-record-btn" data-current-contact-id="{{contact.id}}" data-current-job-ref-id="{{contact.job_ref_id}}" data-current-job-ref-text="{{contact.job_ref_text}}">View Record</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="contact-dash-table-empty"></p>
        <div class="home-dashboard-container">
          <button id="dashboard-new-contact-btn" type="button" class="btn btn-success">Create</button>
          <button type="button" class="btn btn-info get-contacts">View All</button>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="communication-page group-category dash-home-table">
        <h2>Communications</h3>
        <table class="table communication-summary-table table-hover">
          <thead>
            <tr>
              <th class="hidden-xs">Date</th>
              <th class="hidden-md hidden-sm hidden-xs">Method</th>
              <th>Subject</th>
              <th>View Record</th>
            </tr>
          </thead>
          <tbody>
            {{#each communications as |communication|}}
              <tr>
                <td class="hidden-xs display-communication-full-name">
                  {{communication.c_date}}
                </td>
                <td class="hidden-md hidden-sm hidden-xs display-communication-company-name">
                  {{communication.c_method}}
                </td>
                <td class="display-communication-email">
                  {{communication.c_subject}}
                </td>
                <td class="display-communication-submit">
                  <button type="button" class="btn btn-default btn-sm dashboard-communication-record-btn" data-current-communication-id="{{communication.id}}" data-current-company-id="{{communication.company_ref_id}}" data-current-job-id="{{communication.job_ref_id}}"
                      data-current-document-id="{{communication.document_ref_id}}">View Record</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="communication-dash-table-empty"></p>
        <div class="home-dashboard-container">
          <button id="generate-create-communication-btn" type="button" class="btn btn-success">Create</button>
          <button type="button" class="btn btn-info get-communications">View All</button>
        </div>
      </div>
    </div>
  </div>
</div>
