<div class="communication-page group-category">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <h1>Communication Dashboard</h1>

      <table class="table communication-summary-table table-hover">
        <thead>
          <tr>
            <th class="hidden-xs">Date</th>
            <th class="hidden-xs">Communication Method</th>
            <th>Communication Subject</th>
            <th>View Record</th>
          </tr>
        </thead>
        <tbody>
          {{#each communications as |communication|}}
            <tr>
              <td class="format-date hidden-xs">
                {{communication.c_date}}
              </td>
              <td class="hidden-xs">
                {{communication.c_method}}
              </td>
              <td>
                {{communication.c_subject}}
              </td>
              <td class="display-communication-submit">
                <button type="button" class="btn btn-default btn-sm dashboard-communication-record-btn" data-current-communication-id="{{communication.id}}" data-current-company-id="{{communication.company_ref_id}}" data-current-job-id="{{communication.job_ref_id}}" data-current-document-id="{{communication.document_ref_id}}">View Communication</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><p class="all-communications-empty"></p></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-container">
        <button id="generate-create-communication-btn" type="button" class="btn btn-success">Create Communication</button>
      </div>
    </div>
  </div>
</div>
