<div class="communication-page group-category">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-9">

      <h1>Communication Details</h1>
      <table class="table communication-record-table">
        <tbody>
          <tr>
            <td>
              Communication Date:
            </td>
            <td class="format-date">
              {{communication.c_date}}
            </td>
          </tr>
          <tr>
            <td class="communication-record-last-name">
              Company Name:
            </td>
            <td class="linked-company" data-job-ref-id="{{communication.job_ref_id}}">
              {{communication.job_ref_text}}
            </td>
          </tr>
          <tr>
            <td class="communication-job-title">
              Job Title:
            </td>
            <td class="display-communication-job-title">
              {{communication.c_subject}}
            </td>
          </tr>
          <tr>
            <td class="company-name">
              Communication Method
            </td>
            <td class="display-communication-company-name">
              {{communication.c_method}}
            </td>
          </tr>
          <tr>
            <td class="c-url-link">
              Communication Url Link
            </td>
            <td class="display-communication-phone">
              <a class="display-url" href="{{communication.c_link}}" target="_blank">N/A</a>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="underline">Communication Details:</p>
              <p class="maintain-spacing">{{communication.c_details}}</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="underline">Communication Notes:</p>
              <p class="maintain-spacing">{{communication.c_notes}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-9">
      <div class="communication-record-btn-options center">
        <button type="button" class="btn btn-default current get-communications-back-btn">Back</button>
        <button id="communication-record-btn-edit" type="button" class="btn btn-warning current" data-current-c-method="{{communication.c_method}}" data-current-communication-id="{{communication.id}}" data-current-job-ref-text="{{communication.job_ref_text}}"
            data-current-job-ref-id="{{communication.job_ref_id}}">Edit Communication Record</button>
        <button id="communication-record-delete" type="button" class="btn btn-danger current" data-current-communication-id="{{communication.id}}">Delete Communication Record</button>
      </div>
    </div>
  </div>

</div>
