<div class="update-contact-form-container form-container contact-page group-category">
  <form class="form contact-form reminder-form" id="update-contact-form" name="update-contact-form" data-update-form="1">
    <fieldset>
      <legend>Update Contact Form</legend>
      <p id="update-contact-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>

      <div class="form-group">
        <label>First Name (required)</label>
        <input class="form-control contact-first-name required-field" name="contact[first_name]" placeholder="Contact First Name" type="text" value= {{contact.first_name}}>
      </div>

      <div class="form-group">
        <label>Last Name (required)</label>
        <input class="form-control contact-last-name required-field" name="contact[last_name]" placeholder="Contact Last Name" type="text" value= {{contact.last_name}}>
      </div>

      <div class="form-group">
        <label>Nickname</label>
        <input class="form-control required-field" name="contact[nickname]" placeholder="Contact Nickname" type="text" value= {{contact.nickname}}>
      </div>

      <div class="form-group job-radio-container current-value-update-page">
        <label>Current Company Association:</label>
        <div class="update-radio-link-value-status-container">
          <p>The company currently associated with this contact is: <span class="job-update-radio-text">{{contact.job_ref_text}}</span></p>
          <p>Link Status: <span class="job-tag-status" data-current-ref-id="{{contact.job_ref_id}}">Not Linked</span></p>
        </div>
      </div>

      <div>
        <div class="job-update-link-container form-group">
          <label>Would you like to update the contact's company?</label>
          <div class="form-group">
            <span>Check Box for Yes</span>
            <input id="job-update-link" type="checkbox" value="">
          </div>
        </div>
        <div class="form-group job-radio-container update-radio-container-btn">
          <label>Will this updated company be tagged to the contact?</label>
          <label><input id="job-radio-yes" class="job-category" type="radio" name="job-radio" value="1">Yes</label>
          <label><input id="job-radio-no" class="job-category" type="radio" name="job-radio" value="0">No</label>
        </div>
      </div>

      <div class="form-group display-alt-job"></div>
      <div class="form-group display-dropdown-job"></div>

      <div class="form-group">
        <label>Job Title</label>
        <input class="form-control required-field" name="contact[job_title]" placeholder="Contact Job Title" type="text" value= {{contact.job_title}}>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input class="form-control required-field" name="contact[email]" placeholder="Contact Email" type="text" value= {{contact.email}}>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input class="form-control required-field" name="contact[phone]" placeholder="Contact Phone" type="text" value= {{contact.phone}}>
      </div>

      <div class="form-group">
        <label>Website</label>
        <input class="form-control required-field" name="contact[website]" placeholder="Contact Website" type="text" value="{{contact.website}}">
      </div>

      <div class="form-group">
        <label>Contact Notes</label>
        <textarea id="contact-notes-input" class="form-control field-input note-input" name="contact[notes]" placeholder="Contact Notes">{{contact.notes}}</textarea>
      </div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="submit-contact-update-btn" type="submit" value="Submit" data-current-ref-id="{{contact.job_ref_id}}" data-current-ref-text="{{contact.job_ref_text}}">
      </div>
    </fieldset>
  </form>
</div>
