<div class="document-page group-category">
<h1>Document Details</h1>

<!-- <h2 class="document-name-header" data-current-document-name="{{document.id}}">{{document.company_ref_name}}</h2> -->

<h3>{{document.job_ref_text}}</h3>
<table class="table document-record-table table-hover">
  <tbody>
    <tr>
      <td class="document-record-date">
        Document Date:
      </td>
      <td class="display-document-name">
        {{document.docdate}}
      </td>
    </tr>
    <tr>
      <td class="document-record-title document-record-location">
        Document Type:
      </td>
      <td class="display-document-doctype">
        {{document.doctype}}
      </td>
    </tr>
    <tr>
      <td class="document-url">
        Document Url:
      </td>
      <td class="display-document-url">
        {{document.docurl}}
      </td>
    </tr>
    <tr>
      <td class="document-record-title document-record-subject">
        Document Subject:
      </td>
      <td class="display-document-subject">
        {{document.docsubject}}
      </td>
    </tr>
    <tr>
      <td class="document-record-title document-record-note">
        Document Text:
      </td>
      <td class="display-document-note">
        {{document.doctext}}
      </td>
    </tr>
  </tbody>
</table>

<div class="dashboard-document-btn-container">
  <div class="document-record-btn-options">
    <button id="document-record-btn-edit" type="button" class="btn btn-warning current" data-current-document-id="{{document.id}}" data-current-doc-type="{{document.doctype}}" data-current-job-ref-id="{{document.job_ref_id}}" data-current-job-ref-text="{{document.job_ref_text}}">Edit Document Record</button>
    <button id="document-record-delete" type="button" class="btn btn-danger current" data-current-document-id="{{document.id}}">Delete Document Record</button>
  </div>
</div>

<div class="filter-show-document-container"></div>
</div>
