<div class="update-document-form-container form-container">
<form class="form document-form reminder-form general-form-class" id="update-document-form" name="update-document-form" data-update-form="1">
  <fieldset>
    <legend>Update Document Form</legend>
    <p id="update-document-error" class="warning form-error"></p>
    <p>All fields are <u>optional</u> unless otherwise indicated</p>

    <div class="form-group">
      <label>Document Date</label>
      <input class="form-control required-field" name="document[docdate]" placeholder="Document Date" type="date" value="{{document.docdate}}">
    </div>

    <div class="form-group doc-type">
      <label>Document Type (required)</label>
      <select class="form-control" id="document-type-select" data-current-doc-type="{{document.doctype}}">
          <option class="form-control required-field" name="document[doctype]" placeholder="Document Type" type="text" value="Resume">Resume</option>
          <option class="form-control required-field" name="document[doctype]" placeholder="Document Type" type="text" value="Cover Letter">Cover Letter</option>
          <option class="form-control required-field" name="document[doctype]" placeholder="Document Type" type="text" value="Other">Other</option>
      </select>
    </div>

    <div class="form-group">
      <label>Document Subject (required)</label>
      <input class="form-control" name="document[docsubject]" placeholder="Subject" type="text" value="{{document.docsubject}}">
    </div>

    <div class="form-group">
      <label>Document Website (url)</label>
      <input class="form-control" name="document[docurl]" placeholder="url" type="text" value="{{document.docurl}}">
    </div>

    <div class="form-group">
      <label>Document Text</label>
      <textarea class="form-control field-input note-input" name="document[doctext]" placeholder="Document Text">{{document.doctext}}</textarea>
    </div>

    <div class="form-group">
      <input class="btn btn-success submit-btn current" name="submit" id="submit-document-update-btn" type="submit" value="Submit">
    </div>
  </fieldset>
</form>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-document-btn" type="button" class="btn btn-success">Create Session</button>
</div>
</div>
