

  <div class="row">
    <div class="col-xs-12">
      <h1>Job Dashboard</h1>
    </div>
  </div>
  <div class="row all-jobs-empty-remove">
    <!-- <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-xs-offset-0"> -->
    <div class="col-xs-12 col-sm-6">
      <h3>All Applications</h3>
      <table class="table job-summary-table table-hover">
        <thead>
          <tr>
            <th>Company Name</th>
            <th class="hidden-xs hidden-sm">Job Title</th>
            <th>Applied?</th>
            <th class="hidden-xs hidden-sm">Job Priority</th>
            <th>View Record</th>
          </tr>
        </thead>
        <tbody>
          {{#each jobs as |job|}}
            <tr>
              <td class="display-company-name">
                {{job.company_name}}
              </td>
              <td class="display-job-title hidden-xs hidden-sm">
                {{job.title}}
              </td>
              <td>
                {{#if job.applied}}
                  Yes
                {{else}}
                  No
                {{/if}}
              </td>
              <td class="hidden-xs hidden-sm">
                {{job.priority_num}}
              </td>
              <td>
                <button type="button" class="btn btn-default btn-sm dashboard-job-record-btn" data-current-job-id="{{job.id}}">View</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  <!-- </div> -->

  <!-- <div class="row"> -->
    <!-- <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-xs-offset-0 job-pending-priority-container"> -->
      <div class="col-xs-12 col-sm-6 job-pending-priority-container">

    </div>
  </div>

  <!-- <div class="job-pending-priority-container"></div> -->
  <div class="row">
    <div class="col-xs-12"><p class="all-jobs-empty"></p></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-container">
        <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create Job</button>
      </div>
    </div>
  </div>
