<h1>Job Overview</h1>
<p>Job Title: {{job.title}}</p>
<p>Posting Date: {{job.posting_date}}</p>
<p>Posting Url: {{job.post_url}}</p>

  <table class="table job-record-table table-hover">
    <tbody>
      <tr>
        <td class="job-record-title job-record-school">
          Deadline:
        </td>
        <td class="display-job-school">
          {{job.deadline}}
        </td>
      </tr>
      <tr>
        <td class="job-record-title job-record-school">
          Salary:
        </td>
        <td class="display-job-school">
          {{job.salary}}
        </td>
      </tr>
      <tr>
        <td class="job-record-title job-record-teacher">
          Job Responsibilities
        </td>
        <td class="display-job-teacher">
          {{job.responsibilities}}
        </td>
      </tr>
      <tr>
        <td class="job-record-title job-record-grade">
          Job Requirements:
        </td>
        <td class="display-job-grade">
          {{job.requirement}}
        </td>
      </tr>
      <tr>
        <td class="job-record-title job-record-grade">
          Job Comments:
        </td>
        <td class="display-job-grade">
          {{job.comment}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="dashboard-job-btn-container">
    <button id="job-back-company-overview" type="button" class="btn btn-warning current" data-current-company-id="" data-current-job-id="{{job.id}}">Back to Company Overview</button>
    <button id="job-record-btn-edit" type="button" class="btn btn-warning current" data-current-company-id="" data-current-job-id="{{job.id}}">Edit Job Record</button>
    <button id="job-record-delete" type="button" class="btn btn-danger current" data-current-company-id="" data-current-job-id="{{job.id}}">Delete Job</button>
  </div>

  <br><br>
  <div class="dashboard-container">
    <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
    <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create Job</button>
  </div>
