<div class="container">

<h1>Job Overview</h1>

<!-- <h2 class="job-name-header" data-current-job-name="{{job.id}}">{{job.company_ref_name}}</h2> -->

<h3>Job Details</h3>
<table class="table job-record-table table-hover">
  <tbody>
    <tr>
      <td class="job-record-company-name">
        Company Name:
      </td>
      <td class="display-job-school">
        {{job.company_name}}
      </td>
    </tr>
    <tr>
      <td class="job-record-title job-record-grade">
        Job Title:
      </td>
      <td class="display-job-grade">
        {{job.title}}
      </td>
    </tr>
    <tr>
    <tr>
      <td class="job-record-title">
        Deadline:
      </td>
      <td class="display-job-school">
        {{job.deadline}}
      </td>
    </tr>
    <tr>
      <td class="job-record-title job-record-school">
        Salary:
      </td>
      <td class="display-job-school">
        {{job.salary}}
      </td>
    </tr>
    <tr>
      <td class="job-record-title job-record-teacher">
        Posting Date
      </td>
      <td class="display-job-teacher">
        {{job.posting_date}}
      </td>
    </tr>
    <tr>
      <td class="job-record-title job-record-teacher">
        Job Post Url
      </td>
      <td>
        <a class="display-url" href="{{job.post_url}}" target="_blank">Link</a>
      </td>
    </tr>
    <tr>
      <td class="job-record-title job-record-teacher">
        Job Responsibilities
      </td>
      <td class="display-job-teacher">
        {{job.responsibility}}
      </td>
    </tr>
    <tr>
      <td class="job-record-title job-record-grade">
        Job Requirements:
      </td>
      <td class="display-job-grade">
        {{job.requirement}}
      </td>
    </tr>
    <tr>
      <td class="job-record-note">
        Job Note:
      </td>
      <td class="display-job-grade">
        {{job.note}}
      </td>
    </tr>
  </tbody>
</table>

<div class="dashboard-job-btn-container">
  <div class="job-record-btn-options">
    <button id="job-record-btn-edit" type="button" class="btn btn-warning current" data-current-job-id="{{job.id}}" data-current-company-id="{{job.company_ref_id}}" data-current-job-id="{{job.job_ref_id}}" data-current-document-id="{{job.document_ref_id}}">Edit Job Record</button>
    <button id="job-record-delete" type="button" class="btn btn-danger current" data-current-job-id="{{job.id}}">Delete Job Record</button>
  </div>
</div>

<br><br>

<div class="reminders-summary-table-container"></div>
<div class="communications-summary-table-container"></div>
<div class="contacts-summary-table-container"></div>
<div class="documents-summary-table-container"></div>

</div>
