<div class="update-job-form-container form-container job-page group-category">
  <form class="form job-form reminder-form" id="update-job-form" name="update-job-form" data-update-form="1">
    <fieldset>
      <legend>Update Job Form</legend>
      <p id="update-job-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>

      <h3 class="company-name-update-form">{{job.company_name}}</h3>

      <div class="form-group">
        <label>Job Title (required)</label>
        <input class="form-control text-input required-field job-title" name="job[title]" placeholder="Job Title" type="text" value="{{job.title}}">
      </div>

      <div class="form-group">
        <label>Posting Date</label>
        <input class="form-control text-input required-field posting-date" name="job[posting_date]" placeholder="Date Posted" type="date" value="{{job.posting_date}}">
      </div>

      <div class="form-group">
        <label>Job Post Url</label>
        <input class="form-control post-url" name="job[post_url]" placeholder="Post Website Link" type="text" value="{{job.post_url}}">
      </div>

      <div class="form-group">
        <label>Salary</label>
        <input class="form-control text-input salary" name="job[salary]" placeholder="Salary" type="text" value="{{job.salary}}">
      </div>

      <div class="form-group">
        <label>Job Description</label>
        <textarea id="job-description-input" class="form-control text-input field-input job-description" name="job[job_description]" placeholder="Job Description" type="textarea" value="">{{job.job_description}}</textarea>
      </div>

      <div class="form-group">
        <label>Responsibilities</label>
        <textarea id="job-responsibilities-input" class="form-control text-input field-input responsibility" name="job[responsibility]" placeholder="Job Responsibilities" type="textarea" value="">{{job.responsibility}}</textarea>
      </div>

      <div class="form-group">
        <label>Requirement</label>
        <textarea id="job-requirement-input" class="form-control text-input field-input requirement" name="job[requirement]" placeholder="Job Requirements" type="textarea" value="">{{job.requirement}}</textarea>
      </div>

      <div class="form-group">
        <label>Deadline</label>
        <input class="form-control deadline" name="job[deadline]" placeholder="Deadline Date" type="date" value="{{job.deadline}}">
      </div>

      <div class="form-group">
        <label>Job Notes {{job.applied_date}}</label>
        <textarea id="job-notes-input" class="form-control text-input field-input comment" form="update-job-form" name="job[note]" placeholder="Job Notes" type="text" value="">{{job.note}}</textarea>
      </div>

      <div class="job-create-link-container form-group">
        <p>
          {{#if job.applied}}
            Application Status: Applied on {{job.date_applied}}
          {{else}}
            Application Status: You have not applied for this job.
          {{/if}}
        </p>

        <div class="form-group job-radio-applied-container update-radio-applied-container-btn">
          <label>Would you like to update the application status?</label>
          <label><input id="job-radio-applied-yes" class="job-category job-radio-applied-btn" type="radio" name="job-radio" value="1">Yes</label>
          <label><input id="job-radio-applied-no" class="job-category job-radio-applied-btn" type="radio" name="job-radio" value="0" data-original-applied-val="{{job.applied}}" data-original-date-val="{{job.date_applied}}">No</label>
        </div>

        <div class="update-application-status-container">
          <label>Have you applied to the job?</label>
          <div class="form-group">
            <span>Check Box for Yes</span>
            <input id="job-applied-checkbox" class="edit-input-aet" name="job[applied]" placeholder="applied" type="checkbox" value="" data-attr-applied="{{job.applied}}">
          </div>
          <div class="form-group job-applied-date-container">
            <input id="job-applied-date-field" name="job[date_applied]" class="form-control" placeholder="Application Date" type="date" value="{{job.date_applied}}" data-attr-update-form="1">
          </div>
        </div>
      </div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="submit-job-update-btn" type="submit" value="Submit" data-current-ref-id="{{job.job_ref_id}}" data-current-ref-text="{{job.job_ref_text}}">
        <input class="btn btn-danger submit-btn current get-jobs-back-btn" name="submit" type="button" value="Cancel">
      </div>
    </fieldset>
  </form>
</div>
