<div id="document-select-container-job" class="select-container">
  <select id="select-element-job" class="select-element">
    <option class="form-control blank-option" placeholder="Blank" type="text" value="-1">Click to Select</option>
    {{#each jobs as |job|}}
      <option class="form-control option-element" name="job[company_name]" type="text" data-form-category-id="{{document.id}}" data-list-ref-text="{{job.company_name}}" data-list-ref-id="{{job.id}}" value="{{job.id}}">{{job.company_name}}</option>
    {{/each}}
</select>
</div>
